* {
    font-family: 'Roboto', sans-serif;
    ;
}

body {}

section {}

#container1-main {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container1-child {
    text-align: center;
    width: 50%;
    color: white;
    margin-bottom: 70px;
}

#container1-child h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

#container1-child a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #ff5959;
    text-decoration: none;
    border-radius: 5px;

}

input {
    border: 0;
    color: lightgrey;
    font-size: 18px;
}

#container2-main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#container2-child {
    width: 35%;
    margin-bottom: 70px;
    align-items: center;
}

#container2-child a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #ff5959;
    text-decoration: none;
    border-radius: 5px;

}

#container2-child h2 {
    font-family: 'Roboto', sans-serif;
}

#pay-slot {
    margin-bottom: 20px;
    display: flex;
}

span.a {
    display: inline-block;
    width: 112px;
    height: 60px;
    padding: 40px 0px 0px 0px;
    border: none;
    background-color: lightgray;
    vertical-align: middle;
    margin: 10px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 5px;
}

span.b {
    border: 2px solid #ff5959;
    background-color: #ffeeee;
}

#container3-main {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#container3-top {
    text-align: center;

}

#container3-child {
    width: 50%;
    margin-bottom: 50px;
    align-items: center;
}

#container3-child h2 {
    font-family: 'Roboto', sans-serif;
}

span.c {
    display: inline-block;
    width: 250px;
    height: 170px;
    padding: 40px 10px 40px 10px;
    border: none;
    margin: 10px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 5px;
    line-height: 80%;
}

span.d {
    background-color: #edf5f6;
}

span.e {
    background-color: #ffeeee;
}

span.f {
    background-color: #fff4d6;
}


#donate-plan {
    margin-bottom: 20px;
    display: flex;
}

footer {
    background-color: #0b0d17;
    text-align: center;
    padding-bottom: 40px;
}

footer h1 {
    font-family: 'Lobster', cursive;
    color: #ff5959;
    padding-top: 25px;
}

footer p {
    color: white;
    font-size: 16px;

}

#pay-slot {

    display: flex;
    justify-content: center;
}

.others-amount {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid gray;
}

.donate-btn {
    position: absolute;
    margin-top: 30px;
    left: 48%;
    outline: none;
    text-align: center;
    color: black;
}

input {
    text-align: center;
    color: black;
}

::placeholder {
    text-align: center;
}